* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

body {
  background-color: #95a5a6;
  height: 100vh;
}

header {
  position: relative;
  height: 100px;
  min-width: 850px;
  background-color: #ecf0f1;
  color: #34495e;
  font-family: 'Cinzel', serif;
  font-size: 55pt;
  padding-left: 25px;
}

header > img {
  margin-left: 10px;
  padding-bottom: 10px;
  padding-right: 30px;
}

h4 {
  color: #34495e;
  font-family: 'Cinzel', serif;
  font-weight: 700;
  margin-bottom: 8px;
}

p {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}

hr {
  color: #ecf0f1;
}
.col-md-12 {
  height: 115px;
  width: 600px;
}

.btn-primary {
    color: #ecf0f1;
    background-color: #34495e;
    border-color: #2c3f51;
}

.selected-day {
  color: #fff;
  background-color: #286090;
  border-color: #122b40;
  outline: none;
}

#list-container {
  position: relative;
  height: 600px;
  width: 630px;
  float: right;
  clear: left;
  margin: 25px;
}

#list-title {
  margin: 0;
}

#filters-container {
  position: absolute;
  height: 650px;
  width: 300px;
  float: left;
  margin: 25px;
}
#filters-list {
  position: relative;
  height: 600px;
  width: 90%;
  float: left;
  clear: right;
  margin: 0, auto;
}

#wrapper {
  margin-left:auto;
  margin-right:auto;
  min-width:1000px;
}

#filters-wrap {
  float: left;
  clear: left;
  padding-top: 200px;
  max-width: 400px;

}

#filters-wrap.row {
  width: 90%;
}
